.button {
    -fx-background-color: LightSteelblue;
    -fx-font-weight: bold;
    -fx-pref-height: 50px;
    -fx-pref-width: 60px;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}